<ion-view view-title="发现">
    <div class="bar bar-subheader">
        <ion-scroll direction="x" scrollbar-x="false">
            <div class="button-bar sub_header_list" id="sub_header_list" change-tab>
                <a href="" class="button button-clear changeSelect" ng-click="changeTab(1,1)">单机</a>
                <a href="" class="button button-clear" ng-click="changeTab(2)">动漫</a>
                <a href="" class="button button-clear" ng-click="changeTab(3)">影视</a>
                <a href="" class="button button-clear" ng-click="changeTab(4)">科技</a>
                <a href="" class="button button-clear" ng-click="changeTab(5)">网游</a>
                <a href="" class="button button-clear" ng-click="changeTab(6)">手游</a>
                <a href="" class="button button-clear" ng-click="changeTab(7)">硬件</a>
            </div>
        </ion-scroll>
    </div>

    <ion-content class="has-subheader">
        <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()">

        </ion-refresher>

        <ion-list ng-init="fileList()">
            <ion-item ng-repeat="item in findlist"  href="#/content/{{item.aid}}">
                <div class="imgbox"><img data-ng-src="{{item.picurl}}" alt=""></div>
                <div class="titlebox"><span>{{item.title}}</span></div>

            </ion-item>
        </ion-list>

        <!--<ion-infinite-scroll distance="1%" on-infinite="loadMore()">-->

        <!--</ion-infinite-scroll>-->
    </ion-content>


</ion-view>