<ion-tabs class="tabs-icon-top tabs-light" >
    <ion-tab title="首页" href="#/tabs/home" icon="ion-ios-home-outline">
        <ion-nav-view name="home"></ion-nav-view>
    </ion-tab >

    <ion-tab title="发现" href="#/tabs/find" icon="ion-ios-lightbulb-outline">
        <ion-nav-view name="find"></ion-nav-view>
    </ion-tab>

    <ion-tab title="周边" href="#/tabs/around" icon="ion-ios-clock-outline">
        <ion-nav-view name="around"></ion-nav-view>
    </ion-tab>

    <ion-tab title="讨论" href="#/tabs/discuss" icon="ion-ios-chatbubble-outline">
        <ion-nav-view name="discuss"></ion-nav-view>
    </ion-tab>

    <ion-tab title="我的" href="#/tabs/mine" icon="ion-ios-gear-outline">
        <ion-nav-view name="mine"></ion-nav-view>
    </ion-tab>
</ion-tabs>